.service-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.img img{
    width: 100%;
    border-radius: 10px;
}

.img{
    display: flex;
    justify-content: center;
    height: 300px;
}
.card-details{
    padding: 15px;
}
.booking-button{
    background-color: rgb(255, 190, 93);;
    padding: 10px 45px;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.booking-button:hover{
    background-color: rgb(13, 19, 44);
    color: wheat;
}